In [1]:
import pandas as pd
from pathlib import Path

In [2]:
home = Path(os.getcwd()).parent
rules = pd.read_csv(f'{home}/reports/translit_rules_freq-dev_morph.tsv',delimiter='\t')

In [7]:
clean = rules[rules['from']!='NOMAP']

In [15]:
clean['dups'] = clean['from'].duplicated()

In [22]:
set(clean[clean['dups']]['from'])=={'ّ'} # dups are all shadda

True

In [25]:
nomap = rules[rules['from']=='NOMAP']

In [27]:
nomap[:60]

      from          to    freq
4    NOMAP           -  103170
19   NOMAP           .   30912
37   NOMAP           /    9970
42   NOMAP           :    7548
49   NOMAP           1    5154
67   NOMAP           ]    1064
70   NOMAP           [     980
80   NOMAP           ,     455
81   NOMAP           )     446
91   NOMAP           "     276
95   NOMAP           2     241
96   NOMAP           (     231
102  NOMAP           n     206
103  NOMAP           s     206
108  NOMAP          et     168
111  NOMAP          al     155
114  NOMAP           =     123
115  NOMAP          --     122
117  NOMAP           ک      76
118  NOMAP       Cairo      71
119  NOMAP           !      70
121  NOMAP           3      61
122  NOMAP           ?      60
123  NOMAP          of      57
124  NOMAP           ;      55
126  NOMAP         the      49
127  NOMAP         and      42
130  NOMAP         not      34
131  NOMAP  identified      33
133  NOMAP           4      33
135  NOMAP   publisher      32
136  NOMAP           ھ      32
137  NOMAP           5      29
138  NOMAP          de      29
139  NOMAP           ٳ      29
142  NOMAP          in      23
143  NOMAP         The      22
144  NOMAP          At      21
145  NOMAP       title      21
146  NOMAP          25      21
149  NOMAP        head      20
150  NOMAP       Rabat      19
151  NOMAP    Khartoum      18
152  NOMAP           6      18
153  NOMAP           e      17
154  NOMAP        2010      16
155  NOMAP        2005      15
156  NOMAP          by      15
157  NOMAP        2007      15
158  NOMAP        2008      15
159  NOMAP          11      14
160  NOMAP           ʼ      14
161  NOMAP           7      14
162  NOMAP        2006      14
164  NOMAP       Tunis      13
165  NOMAP        1999      12
166  NOMAP       Egypt      12
167  NOMAP           i      12
168  NOMAP           a      12
169  NOMAP           &      11